<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<!-- CREATE DATABASE social; -->

<hibernate-configuration>

	<session-factory>
		<!-- Mapping files -->
		<mapping resource="com/class3601/social/persistence/User.hbm.xml" />
		<mapping resource="com/class3601/social/persistence/Friend.hbm.xml" />
		<mapping resource="com/class3601/social/persistence/Game.hbm.xml" />
		<mapping resource="com/class3601/social/persistence/GameOwner.hbm.xml" />
	</session-factory>

</hibernate-configuration>